.mythic-scene {
    color: lightblue;
    font-size: 120%;
    display: inline;
}
.mythic-scene:before {
    content: '«';
}
.mythic-scene:after {
    content: '»';
}
.mythic-object {
    color: lightgrey;
    display: inline;
}
.mythic-object:before {
    content: '«';
}
.mythic-object:after {
    content: '»';
}
.mythic-question {
    color: pink;
    display: inline;
}
.mythic-thread {
    color: sandybrown;
    display: inline;
}
.mythic-character {
    color: cyan;
    display: inline;
}
.mythic-character:before {
    content: '«';
}
.mythic-character:after {
    content: '»';
}
.mythic-adventure {
    color: yellow;
    font-size: 130%;
    display: inline;
}
.mythic-adventure:before {
    content: '«';
}
.mythic-adventure:after {
    content: '»';
}
.mythic-removed {
    text-decoration: line-through;
}
.mythic-oracle {
    color: goldenrod;
    display: inline;
}
.mythic-oracle:before {
    content: '«';
}
.mythic-oracle:after {
    content: '»';
}
.mythic-dice {
    color: turquoise;
    display: inline;
}
.mythic-dice:before {
    content: '«';
}
.mythic-dice:after {
    content: '»';
}
.mythic-meaning {
    color: mediumorchid;
    display: inline;
}
.mythic-meaning:before {
    content: '«';
}
.mythic-meaning:after {
    content: '»';
}
.mythic-random {
    color: magenta;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline;
}
.mythic-random:before {
    content: '[';
}
.mythic-random:after {
    content: ']';
}
.mythic-removed {
    text-decoration: line-through;
}
.mythic-error {
    color: red;
    font-size: 120%;
    display: inline;
}
